#############
## Folders ##
#############
__pycache__
.ipynb_checkpoints
.DS_Store
.vscode

###########
## Files ##
###########

## pip
*.egg-info

## byte code
*.pyc

## logs
*.log

## data
*.data
*.dat
*.obj
*.npy
*.npz
*.gz

## ppt
*.ppt
*.pptx
